<html>
<style>
	.center {
		text-align: center;
	}
	p {
		font-family: "Times New Roman", Times, serif;
	}
</style>
<div class="center">
	<strong><p align="center">Jordan Delaney
	<br />2007 lake Park Drive SE Apt N
	<br />Smyrna, GA 30080</strong>
	<br />C: 315-708-3201 E: jordan.delaney@me.com
	</p>
</div>

<div class="body">
	<table>
		<tbody>
			<tr>
				<td><strong>Objective</strong></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>To obtain a position with...</td>
			</tr>
		</tbody>
	</table>
</div>
